
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	max-width: 1200px;
	margin: 0 auto;
	height: 1605px;
	background-color: #313131;
  	font-size: 13px;
  	font-family: Georgia, serif;
  	color: rgb(151, 151, 151);
  	cursor: default;
}

.white-body {
	background-color: #ffffff;
	padding: 0 1.6%;
	border-top: 5px solid #a7c353;
	margin: 0 10%;
	height: 73%;
}



.header {
	display: flex;
	justify-content: flex-start;
}
.header__content {
	border-bottom: 1px solid #a7c353;

}
.nav p:first-child{
	padding-top: 25px;
	font-size: 25px;
	text-transform: uppercase;
	color: #666666;
	cursor: default;
}
.nav p:first-child:first-letter{
	font-size: 32px;
}
.nav p:last-child{
	font-size: 12px;
	text-transform: capitalize;
	cursor: default;
}

.nav{
	float:	right;
}
.nav ul {
	margin-top: -57px;
}
.nav li{
	display: inline-block;
	padding: 53px 0 30px 0;
}
.nav a{
	color: #979797;
	padding: 52px 10px 30px 22px;
}
.nav ul li:nth-child(2) a{
	color: #fff;
	background-color: #a7c353;
	padding: 52px 20px 30px 20px;
}
.nav ul li:nth-child(2) a:hover{
	color: black;
}
.nav ul li:nth-child(2){
	margin-left: 135px;
}
.nav a:hover{
	color: black;
}




.before-slider {
	margin:	38px 100px;
  	font-size: 22px;
  	line-height: 1.4;
  	text-align: center;
  	color: #666666;
  	font-style: italic;
}


.content{
	display: flex;
	margin-top: 4.3%;
}
.content p{
  	font-size: 13px;
  	line-height: 13px;
}
.content h2{
	font-size: 22px;
	color: rgb(102, 102, 102);
	line-height: 1.2;
	text-align: left;
}
.content__first-column {
	width: 31%;
}
.content__first-column h2{
}
/*Бордер забирает 5 пикселя по этому 145х275*/
.content__first-column img{
	height: 155px;
	width: 100%;
	border: 1px solid #e2e2e2;
	padding: 5px;
	margin-top: 20px;
}
.content__first-column p{
	margin-top: 18px;
	line-height: 18.2px;
	text-align: left;
	font-size: 13px;
}

.content__first-column a{
	display: block;
  	color: rgb(167, 195, 83);
  	line-height: 1;
  	margin-top: 5%;
  	text-align: right;
}
.content__first-column a:hover{
	opacity: 0.8;
}

.content__second-column {
	width: 31%;
	margin-left: 4%;
}
.content__second-column h2{
}
.content__second-column li{
	padding-left: 30%;
	margin-bottom: 20px;
}
.content__second-column li:first-child{
	margin-top: 25px;
}
.content__second-column h4{
	display: block;
	font-size: 14px;
	color: rgb(135, 135, 135);
	line-height: 1.2;
	font-weight: 550;
	margin-bottom: 10px;
}
.content__second-column p{
	 font-size: 13px;
	 color: rgb(134, 134, 134);
	 line-height: 1.4;
	 text-align: left;
	 height: 47px;
}
.content__second-column li:nth-child(1){
	background: url('../img/picture1_64x64.jpg')no-repeat;
	background-size: 23% 86%;
}
.content__second-column li:nth-child(2){
	background: url('../img/picture2_64x64.jpg')no-repeat;
	background-size: 23% 86%;
}
.content__second-column li:nth-child(3){
	background: url('../img/picture3_64x64.jpeg')no-repeat;
	background-size: 23% 86%;
}
.content__second-column li:nth-child(4){
	background: url('../img/picture4_64x64.jpeg')no-repeat;
	background-size: 23% 86%;
	margin-bottom: 15px;
}
.content__second-column a{
	display: block;
  	color: rgb(167, 195, 83);
  	line-height: 1;
  	margin-top: 3%;
  	text-align: right;
}
.content__second-column a:hover{
	opacity: 0.8;
}
.content__third-column {
	width: 31%;
	margin-left: 4%;
}
.content__third-column h2{
}
.content__third-column p{
  	font-size: 13px;
  	color: rgb(136, 136, 136);
  	line-height: 1.4;
  	text-align: left;
  	margin-top: 2px;
  	left: 680px;
  	top: 813.197px;
  	height: 102px;

}
.content__third-column li{
	display: block;
	height: 50px;
  	font-size: 16px;
  	color: rgb(152, 152, 152);
  	line-height: 1.2;
  	font-weight: 550;
  	background: url('../img/decor.png') no-repeat;
  	background-size: 53px 45px;
  	padding-left: 63px;
  	padding-top: 13px;
  	margin-top: 14px;
  	max-width: 100%
}
.content__third-column span{
	font-weight: 400;
}
.content__third-column a{
	display: block;
  	color: rgb(167, 195, 83);
  	line-height: 1;
  	margin-top: 10px;
  	text-align: right;
}
.content__third-column a:hover{
	opacity: 0.8;
}



/* S L I D E R */
.slider-cover{
	height: 425px;
	position: relative;
	width: 100%;
}
.slider {
	height: 425px;
	position: relative;
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
}
.slider__title {

	position: absolute;
	z-index: 20;
	background-color: #a7c353;
	top: 49.5%;
	right: 7%;
	height: 9.5%;
	width: 37.5%;
  	font-size: 23px;
 	color: rgb(255, 255, 255);
  	line-height: 1.4;
  	text-align: center;
  	padding: 5px;
}
@media screen and (max-width: 1150px) {
  div.slider__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px) {
  div.slider__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  div.slider__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  div.slider__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  div.slider__title {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  div.slider__title {
    font-size: 10px;
  }
}
.slider__title2 {
	display: block;
	position: absolute;
	z-index: 20;
	background-color: white;
	height: 16%;
	width: 37.5%;;
	top: 61%;
	right: 7%;
  	line-height: 1.2;
  	text-align: left;
  	padding: 10px 10px;
}
@media screen and (max-width: 1150px) {
  div.slider__title2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 1050px) {
  div.slider__title2 {
    font-size: 11px;
  }
}
@media screen and (max-width: 950px) {
  div.slider__title2 {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  div.slider__title2 {
    font-size: 9px;
  }
}
@media screen and (max-width: 650px) {
  div.slider__title2 {
    font-size: 8px;
  }
}
@media screen and (max-width: 500px) {
  div.slider__title2 {
    font-size: 7px;
  }
}
.slider__item img{
	height: 350px;
	width: 100%;
}
.slick-slider{
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.slick-arrow{
	position: absolute;
	top: 33%;
	z-index: 10;
	width: 52px;
	height: 52px;
	font-size: 0;
	margin-left: 1%;
	margin-right: 1%;

}
.slick-arrow.slick-prev{
	left: 0;
	background: url('../img/arrow_l.png') 0 0 no-repeat;
}
.slick-arrow.slick-next{
	right: -4%;
	background: url('../img/arrow_r.png') 0 0 no-repeat;
}
.slider .slick-arrow:active{
	background-size: 50px;
	font-size: 0;
}
.slider .slick-arrow:hover{
	opacity: 0.7;
}
.slick-arrow.slick-disabled{}

.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
}
.slick-dots li{
	list-style: none;
}
.slick-dots button{
	font-size: 0;
	background: url('../img/dot_p.png') 0 0 no-repeat;
	width: 15px;
	height: 15px;
	margin: 0 2px;
}
li.slick-active button{
	background: url('../img/dot_a.png') 0 0 no-repeat;
	width: 15px;
	height: 15px;
	font-size: 0;
}







.footer {
	display: flex;
	align-items: : flex-end;
	margin: 3% 10% 0 10%;
  	font-size: 12px;
  	font-family: "Georgia";
  	color: rgb(153, 153, 153);
  	line-height: 1.6;
}
.footer h4{
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 12px;
}
.footer__first-column {
	height: 265px;
	width: 25%;
}
.footer__first-column ul{
	margin-top: 16px;
}
.footer__first-column ul li:nth-child(5){
	margin-top: 15px;
}
.footer__first-column ul li:nth-child(8){
	margin-top: 15px;
	font-weight: 600;
}
.footer__first-column a{
	color: rgb(167, 195, 83);
}
.footer__first-column a:hover{
	color: white;
}
.footer__second-column {
	height: 265px;
	width: 25%;
	margin-left: 25px;
}
.footer__second-column ul{
	margin-top: 16px;
}
.footer__second-column li{
	border-bottom: 1px solid #3a3a3a;
	padding-left: 45px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 15px;
	max-width: 100%
}
.footer__second-column li:nth-child(1){
	background: url('../img/In.png') no-repeat;
}
.footer__second-column li:nth-child(2){
	background: url('../img/twitter.png') no-repeat;
}
.footer__second-column li:nth-child(3){
	background: url('../img/pinterest.png') no-repeat;
}
.footer__second-column li:nth-child(4){
	background: url('../img/RSS.png') no-repeat;
}
.footer__second-column a{
	color: rgb(167, 195, 83);
}
.footer__second-column a:hover{
	color: white;
}
.footer__third-column {
	height: 265px;
	width: 25%;
	margin-left: 25px;
}
.footer__third-column .block-one h5{
	margin-top: 18px;
  	font-size: 13px;
  	line-height: 1.2;
  	font-weight: 600;
}
.footer__third-column span{
	display: block;
  	font-size: 11px;
  	line-height: 1.2;
  	padding-top: 2px;
}
.footer__third-column p{
	display: block;
  	font-size: 12px;
  	line-height: 1.6;
  	padding-top: 5px;
}
.footer__third-column a{
	display: block;
	color: rgb(167, 195, 83);
	margin:	10px 0 0 140px;
}
.footer__third-column a:hover{
	color: white;
}
.footer__third-column .block-two h5{
	margin-top: 12px;
	font-size: 13px;
  	line-height: 1.2;
  	font-weight: 600;
}
.footer__fourth-column {
	height: 265px;
	width: 25%;
	margin-left: 25px;
}
.footer__fourth-column h4{
	margin-bottom: 15px;
}
.footer__fourth-column input{
	margin: 5px 0;
	background-color: #383838;
	height: 30px;
	border-radius: 7px;
	color: #989898;
	width: 100%;
}
.footer__fourth-column input:focus{
	box-shadow: 0 0 10px rgba(148, 148, 148, 0.5);
}
.footer__fourth-column input::placeholder {
	color: rgb(152, 152, 152);
	font-family: Georgia; 
	font-size: 13px; 
	padding-left: 10px;

}
.footer__fourth-column textarea{
	margin-top: 5px;
	background-color: #383838;
	height: 110px;
	border-radius: 7px;
	resize: none;
	width: 100%;
}
.footer__fourth-column textarea:focus{
	box-shadow: 0 0 10px rgba(148, 148, 148, 0.5);
}
.footer__fourth-column textarea::placeholder {
	color: rgb(152, 152, 152);
	font-family: Georgia; 
	font-size: 13px; 
	padding: 10px;
}
button{
	background-color: #a7c353;
	color: #313131;
	text-transform: uppercase;
  	font-size: 13px;
  	padding: 4% 5%;
  	border-radius: 5px;
  	font-weight: 700;
  	margin-top: 5px;
}
button:active{
	padding: 3.8% 4.8%;
	font-size: 12px;
}
button:hover{
	color: white;
}
.copyrights {
	border-top: 1px solid #3a3a3a;
	margin: 6.8% 10% 0 10%;
	cursor: default;
}
.copyrights .left{
	text-align: left;
	margin-top: 18px;
}
.copyrights .right{
	text-align: right;
	margin-top: -13px;
}

